---
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import { LanguageSelector } from "astro-i18next/components";

changeLanguage("ca");
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{t("site.title")}</title>
    <meta name="description" content={t("site.description")} />
    <HeadHrefLangs />
  </head>
  <body>
		<div class="flex flex-col items-center justify-center h-screen p-8 gap-4 text-purple-800 bg-purple-50">
			<h1 class="text-3xl font-bold">{t("home.title")}</h1>
			<LanguageSelector showFlag={true} class="bg-purple-200 p-1 rounded-full" />
			<p class="bg-purple-100 p-4 rounded-xl">
				<Trans i18nKey="home.subtitle" >
					Ahora esta página está en <strong>ESPAÑOL</strong>, puedes cambiar el idioma en el deplegable de arriba 
				</Trans>
			</p>
			<p>{t("home.creator")} <a href="https://danik.dev/" target="_blank" class="text-blue-500 underline">DaniK.dev</a></p> 
		</div>
  </body>
</html>